{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}
{{> header}}

<div class="main-wrap">
    <section class="m-hero with-picture aos-init aos-animate" data-aos="fade">
        <div class="m-hero__picture in-post " style="background-image: url(https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ);"></div>
            <div class="m-hero__content aos-init aos-animate" data-aos="fade-down">
            <h1 class="m-hero-title bigger">À propos de nous</h1>
        </div>
    </section>

    <main>
      <article>
        <div class="l-content">
          <div class="l-wrapper in-post aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="l-post-content">
              <div class="pos-relative js-post-content">
                <p>Vous pouvez le deviner! Les compétences requises, aujourd’hui, pour bon nombre d’emplois ne sont pas nécessairement celles qui seront recherchées dans un proche avenir.</p><p>À l’Académie du numérique de l’École de la fonction publique du Canada, tous les jours, nous venons travailler pour aider les fonctionnaires à résoudre le plus grand problème auquel nous faisons face aujourd’hui, au gouvernement : <strong>comment suivre le rythme de l’évolution numérique qui se produit partout autour de nous.</strong></p><p>Notre mission avec Trajetsenbus.ca est d’accroître et d’approfondir les compétences dans le domaine du numérique. Nous voulons permettre à tous les fonctionnaires fédéraux de partager &nbsp;une vision commune des concepts de base du « numérique ».</p><p>Nous concevons chaque épisode comme des micro apprentissages avec pour objectifs de s’approprier les sujets du numérique et répondre à différents styles d'apprentissage. Ces épisodes n'ont pas pour but de développer des compétences spécialisées, mais de vous familiariser à l'application et à l'utilité d’acquérir des compétences numériques au sein du GC.</p><p>En proposant des points clés à retenir, Trajetsenbus.ca favorise une culture d’apprentissage axée sur la collaboration et encourage les apprenants à partager leurs expériences avec leurs pairs, dans un cadre informel.</p><p>À l'automne 2019, nous avons mené un sondage auprès de près de 300 fonctionnaires afin de déterminer comment Trajets en bus pourrait offrir une expérience d'apprentissage unique pour accroître la sensibilisation au numérique dans le contexte du gouvernement du Canada. Les résultats sont un signal important pour nous afin de déterminer sur quoi nous devons écrire. Consultez les résultats ici :</p><!--kg-card-begin: html--><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT5oeBodlDGSON6UPrjDHlucQ9NjfW4WHDH3SABNlAOlPb9X6hatmUGV_8WHiv-Sw/embed?start=false&amp;loop=false&amp;delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe><!--kg-card-end: html--><p></p><h3 id="collaborateurs-invit-s"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Collaborateurs invités<br></h3><h3 id="vous-d-sirez-crire-ou-partager-du-contenu-pour-trajetsenbus-ca">Vous désirez écrire ou partager du contenu pour trajetsenbus.ca? </h3><p>Trajets en bus offre des ressources pertinentes et accessibles rapidement qui permettent aux fonctionnaires de relever des défis, d’outiller leurs équipes et de se tenir au fait des concepts, des méthodes et des pratiques de pointe liés à la technologie numérique et au gouvernement. La fonction publique fédérale du Canada comptant plus de 250 000 employés, personne ne peut affirmer avec certitude être au courant de tout ce qui se passe à l’échelle du gouvernement, encore moins à l’extérieur du gouvernement, y compris nous! C’est pourquoi nous avons besoin de votre aide. Nous croyons que la production participative de contenu de qualité par des fonctionnaires et pour des fonctionnaires est la voie à suivre.<br></p><h3 id="que-puis-je-en-tirer">Que puis-je en tirer? </h3><p>Trajets en bus est une plate-forme de contenu unique à grande visibilité. Environ X utilisateurs individuels visitent notre site chaque mois et nous continuons de nous faire connaître. En tant que collaborateur invité, vous vous ferez également connaître et vous aurez l’occasion d’interviewer des intervenants pertinents pour le compte de la bannière Trajets en bus. Il s’agit d’une excellente occasion d’élargir votre réseau de contacts et d’utiliser votre expertise pour contribuer à favoriser les discussions et pour renseigner les fonctionnaires sur votre travail ou celui de vos équipes. <br></p><h3 id="pr-sentez-nous-votre-id-e-">Présentez-nous votre idée!</h3><p>Les présentations les plus efficaces pour Trajets en bus répondent aux critères suivants :<br></p><ul><li>Moins de 200 mots</li><li>Pertinentes pour la majorité des fonctionnaires</li><li>Touchent à l’un des thèmes suivants: télétravail, données, gouvernement ouvert, transformation numérique, intelligence artificielle et apprentissage automatique</li><li>Contiennent des renseignements qui peuvent être communiqués à la population canadienne</li><li>Recommandent des outils, des concepts ou des points de vue qu’une personne peut utiliser pour améliorer sa situation, celle de son équipe ou du gouvernement dans son ensemble</li><li>Indiquent clairement si la haute direction (un directeur ou un cadre de niveau supérieur) doit approuver le contenu avant de pouvoir le publier<br></li></ul><p>Envoyez-nous un courriel csps.digitalacademyacademiedunumerique.efpc@canada.ca; nous communiquerons de nouveau avec vous au sujet de votre présentation dans une semaine. Si votre présentation est retenue, notre équipe collaborera avec vous pour élaborer votre proposition en vue d’en faire un épisode prêt à diffuser. <br><br></p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
</div>




