{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}
{{> header}}

<div class="main-wrap">
    <section class="m-hero with-picture aos-init aos-animate" data-aos="fade">
        <div class="m-hero__picture in-post " style="background-image:url(https://d1em53b5kumigl.cloudfront.net/2020/09/office.jpg)"></div>
            <div class="m-hero__content aos-init aos-animate" data-aos="fade-down">
            <h1 class="m-hero-title bigger">À propos de nous</h1>
        </div>
    </section>

    <main>
      <article>
        <div class="l-content">
          <div class="l-wrapper in-post aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="l-post-content">
              <div class="pos-relative js-post-content">
                <p>Tout le monde devine. Les compétences requises pour de nombreux emplois d'aujourd'hui ne sont pas nécessairement celles qui seront au cœur des exigences et des possibilités de demain.</p><p>À l'Académie numérique de l'École de la fonction publique du Canada, nous venons tous travailler tous les jours parce que nous voulons aider les fonctionnaires à résoudre le plus grand problème auquel nous sommes confrontés aujourd'hui au sein du gouvernement : <strong>comment suivre le rythme de la transformation numérique qui se produit autour de nous.</strong></p><p>Notre mission, avec Trajetsenbus.ca, est d'élargir et d'approfondir la culture numérique. Nous voulons donner à tous les fonctionnaires une conceptualisation de base et commune de la lentille numérique du gouvernement du Canada. Nous concevons chaque épisode autour de courts objectifs d'apprentissage sur des sujets numériques qui font appel à de multiples styles d'apprentissage. Ces épisodes ne sont pas destinés à développer des compétences solides, mais à reconnaître l'application et l'utilité potentielles des compétences numériques au sein du gouvernement du Canada.</p><p>En offrant des prises concrètes, Trajetsenbus.ca favorise une culture d'apprentissage en collaboration et encourage les apprenants à partager leurs expériences avec leurs pairs de manière informelle.</p><p>À l'Académie numérique de l'EFPC, nous offrons également une variété d'autres cours et événements pour vous aider dans votre voyage d'apprentissage numérique :</p><!--kg-card-begin: html--><iframe style="border: none;" height="450" width="800" src="https://www.figma.com/embed?embed_host=oembed&amp;url=https://www.figma.com/file/9DqIjcAG7yVKLAg16mhyGA/Digital-Academy-Placement---FR---October-8-2020---NO-MOU?node-id=0%3A1"></iframe><!--kg-card-end: html--><p>Ces thèmes n'ont pas été choisis par hasard. À l'automne 2019, nous avons mené un sondage auprès de près de 300 fonctionnaires afin de déterminer comment nous pourrions offrir une expérience d'apprentissage unique qui sensibilise au numérique dans le contexte du gouvernement du Canada. Les résultats sont pour nous un signal important sur ce que les fonctionnaires veulent savoir. Consultez les résultats ici :</p><!--kg-card-begin: html--><iframe title="Académie du numérique de l'EFPC Recherche auprés des utilisateurs de Trajets en bus - analyse du sondage en ligne" src="https://docs.google.com/presentation/d/e/2PACX-1vT5oeBodlDGSON6UPrjDHlucQ9NjfW4WHDH3SABNlAOlPb9X6hatmUGV_8WHiv-Sw/embed?start=false&amp;loop=false&amp;delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe><!--kg-card-end: html--><!--kg-card-begin: hr--><hr><!--kg-card-end: hr--><h3 id="vous-souhaitez-crire-ou-partager-du-contenu-pour-trajetsenbus-ca">Vous souhaitez écrire ou partager du contenu pour Trajetsenbus.ca ?</h3><p>Proposez-nous votre idée ! Les meilleurs emplacements pour Trajets en bus :</p><!--kg-card-begin: markdown--><ul>
                <li>ont moins de 200 mots</li>
                <li>sont pertinentes pour la plupart des fonctionnaires</li>
                <li>Reliez-les à l'un des thèmes suivants : Transformation numérique, données, cybersécurité, nuage, agilité, intelligence artificielle/apprentissage machine</li>
                <li>Contient des informations qui peuvent être partagées avec le public canadien</li>
                <li>Recommander des outils, des philosophies ou des perspectives qu'une personne pourrait utiliser pour s'améliorer, améliorer son équipe ou son gouvernement dans son ensemble</li>
                <li>indique clairement si la direction générale (au-dessus du niveau de directeur) doit approuver le contenu avant qu'il puisse être publié</li>
                </ul>
                <!--kg-card-end: markdown--><p>Envoyez votre pitch par e-mail à <a>csps.digitalacademy-academiedunumerique.efpc@canada.ca</a>, nous vous répondrons dans un délai d'une semaine. Si votre proposition est retenue, notre équipe travaillera avec vous pour la transformer en un épisode fini.</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
</div>




