{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}
{{> header}}

<div class="main-wrap">
    <section class="m-hero with-picture aos-init aos-animate" data-aos="fade">
        <div class="m-hero__picture in-post " style="background-image: url(https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ);"></div>
            <div class="m-hero__content aos-init aos-animate" data-aos="fade-down">
            <h1 class="m-hero-title bigger">About Us</h1>
        </div>
    </section>

    <main>
      <article>
        <div class="l-content">
          <div class="l-wrapper in-post aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="l-post-content">
              <div class="pos-relative js-post-content">
                <p>Everyone is guessing. The skills required for many of today’s jobs are not necessarily those that will be central to tomorrow’s requirements and opportunities.</p><p>At the Canada School of Public Service<strong> </strong>Digital Academy, we all come to work every day because we want to help Public Servants solve the biggest problem we face today in government: <strong>how to keep pace with the digital transformation happening around us.</strong></p><p>Our mission with Busrides.ca is to broaden and deepen digital literacy. We want to give all public servants a basic and shared conceptualization of a Government of Canada digital lens.</p><p>We design each episode around short learning objectives on digital topics that appeal to multiple learning styles. These episodes are not intended to develop hard skills, but to recognize the potential application and utility of digital skills in the Government of Canada.</p><p>By providing tangible takeaways, Busrides.ca promotes a collaborative learning culture and encourages learners to share their experiences with peers in an informal manner.</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
</div>




