{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}
{{> header}}

<div class="main-wrap">
    <section class="m-hero with-picture aos-init aos-animate" data-aos="fade">
        <div class="m-hero__picture in-post " style="background-image: url(https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ);"></div>
            <div class="m-hero__content aos-init aos-animate" data-aos="fade-down">
            <h1 class="m-hero-title bigger">À propos de nous</h1>
        </div>
    </section>

    <main>
      <article>
        <div class="l-content">
          <div class="l-wrapper in-post aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="l-post-content">
              <div class="pos-relative js-post-content">
                <p>Vous pouvez le deviner! Les compétences requises, aujourd’hui, pour bon nombre d’emplois ne sont pas nécessairement celles qui seront recherchées dans un proche avenir.</p><p>À l’Académie du numérique de l’École de la fonction publique du Canada, tous les jours, nous venons travailler pour aider les fonctionnaires à résoudre le plus grand problème auquel nous faisons face aujourd’hui, au gouvernement : <strong>comment suivre le rythme de l’évolution numérique qui se produit partout autour de nous.</strong></p><p>Notre mission avec Trajetsenbus.ca est d’accroître et d’approfondir les compétences dans le domaine du numérique. Nous voulons permettre à tous les fonctionnaires fédéraux de partager &nbsp;une vision commune des concepts de base du « numérique ».</p><p>Nous concevons chaque épisode comme des micro apprentissages avec pour objectifs de s’approprier les sujets du numérique et répondre à différents styles d'apprentissage. Ces épisodes n'ont pas pour but de développer des compétences spécialisées, mais de vous familiariser à l'application et à l'utilité d’acquérir des compétences numériques au sein du GC.</p><p>En proposant des points clés à retenir, Trajetsenbus.ca favorise une culture d’apprentissage axée sur la collaboration et encourage les apprenants à partager leurs expériences avec leurs pairs, dans un cadre informel.</p><p>À l'automne 2019, nous avons mené un sondage auprès de près de 300 fonctionnaires afin de déterminer comment Trajets en bus pourrait offrir une expérience d'apprentissage unique pour accroître la sensibilisation au numérique dans le contexte du gouvernement du Canada. Les résultats sont un signal important pour nous afin de déterminer sur quoi nous devons écrire. Consultez les résultats ici :</p><!--kg-card-begin: html--><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT5oeBodlDGSON6UPrjDHlucQ9NjfW4WHDH3SABNlAOlPb9X6hatmUGV_8WHiv-Sw/embed?start=false&amp;loop=false&amp;delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe><!--kg-card-end: html-->
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
</div>




