{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="main-wrap">
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{> header background="https://tr4.cbsistatic.com/hub/i/r/2019/09/18/a3ba9aa8-e8d6-4faa-a60b-472db067edaf/resize/1200x/66df4c27eb051d6c56fd8cc868de3a40/istock-1132660268.jpg"}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{!-- {{> hero background="https://tr4.cbsistatic.com/hub/i/r/2019/09/18/a3ba9aa8-e8d6-4faa-a60b-472db067edaf/resize/1200x/66df4c27eb051d6c56fd8cc868de3a40/istock-1132660268.jpg"}} --}}
  </section>
  
  <main>
    <div style="padding: 20px">
        <h1 style="text-align:center">Welcome to Busrides’ Going Remote Guide</h1>
        <p style="text-align:center">This page was built in collaboration with you, public servants interested in sharing resources to help navigate a new world of remote work. Additional resources for each of these themes will continue to be added as they become available.<br><br>Links to websites not under the control of the Government of Canada and the Office of the Commissioner of Official Languages, including those to our social media accounts, are provided solely for the convenience of our website visitors. We are not responsible for the accuracy, currency or reliability of the content of such websites. The Government of Canada and the Office of the Commissioner of Official Languages does not offer any guarantee in that regard and is not responsible for the information found through these links, nor does it endorse the sites and their content.<br><br>Visitors should also be aware that information offered by non-Government of Canada sites to which this website links is not subject to the <a style="color:#055aa0" target="_blank" href="http://laws-lois.justice.gc.ca/eng/acts/P-21/index.html"><i>Privacy Act(link is external)</i></a> or the <a style="color:#055aa0" target="_blank" href="http://laws-lois.justice.gc.ca/eng/acts/O-3.01/"><i>Official Languages Act(link is external)</i></a> and may not be accessible to persons with disabilities. The information offered may be available only in the language(s) used by the sites in question. With respect to privacy, visitors should research the privacy policies of these non-government websites before providing personal information.</p>
    </div>
    <iframe src="https://dis-sin.github.io/9-Days-of-Working-Remotely/" style="width: 100vw;border: none;height: 100vh;">
        <p>Your browser does not support iframes.</p>
    </iframe>
  </main>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    
{{/contentFor}}
