{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="main-wrap">
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{> header background="https://tr4.cbsistatic.com/hub/i/r/2019/09/18/a3ba9aa8-e8d6-4faa-a60b-472db067edaf/resize/1200x/66df4c27eb051d6c56fd8cc868de3a40/istock-1132660268.jpg"}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{!-- {{> hero background="https://tr4.cbsistatic.com/hub/i/r/2019/09/18/a3ba9aa8-e8d6-4faa-a60b-472db067edaf/resize/1200x/66df4c27eb051d6c56fd8cc868de3a40/istock-1132660268.jpg"}} --}}
  </section>
  
  <main>
    <div style="padding: 20px">
        <h1 style="text-align:center">Bienvenue au Guide du télétravail</h1>
        <p style="text-align:center">Cette page a été construite en collaboration avec vous, fonctionnaires intéressés au partage de ressources pour vous aider à naviguer dans un nouveau monde de travail à distance. Des ressources supplémentaires pour chacun de ces thèmes continueront à être mises à jour au fur et à mesure qu'elles seront disponibles.<br><br>Les hyperliens menant à des sites Web qui ne sont pas gérés par le gouvernement du Canada et le Commissariat aux langues officielles, y compris ceux qui mènent à nos comptes de médias sociaux, ne sont offerts que par commodité aux visiteurs de notre site Web. Nous n’assumons aucune responsabilité quant à la précision, l'actualité ou la fiabilité du contenu de ces sites. Le gouvernement du Canada et le Commissariat aux langues officielles n’offre aucune garantie à cet égard, n'assume aucune responsabilité concernant l'information obtenue au moyen de ces liens et n'approuve ni ces sites, ni leur contenu.<br><br>Les visiteurs doivent également savoir que l’information offerte par les sites autres que ceux du gouvernement du Canada, accessibles à l'aide des liens de ce site Web, n'est pas assujettie à la <a style="color:#055aa0" target="_blank" href="http://laws-lois.justice.gc.ca/fra/lois/P-21/index.html"><i>Loi sur la protection des renseignements personnels(link is external)</i></a> ni à la <a style="color:#055aa0" target="_blank" href="http://laws-lois.justice.gc.ca/fra/lois/O-3.01/"><i>Loi sur les langues officielles(link is external)</i></a>, et pourrait ne pas être accessible aux personnes handicapées. Il se peut que l'information offerte ne soit disponible que dans les langues employées dans les sites en question. En ce qui a trait aux renseignements personnels, on invite les visiteurs à consulter les politiques de ces sites Web non gouvernementaux en matière de protection des renseignements personnels avant de communiquer leurs renseignements personnels.</p>
    </div>
    <iframe src="https://dis-sin.github.io/9-Days-of-Working-Remotely/" style="width: 100vw;border: none;height: 100vh;">
        <p>Your browser does not support iframes.</p>
    </iframe>
  </main>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    
{{/contentFor}}
